@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}
.hero h1 span{
    background: linear-gradient(270deg, #df8908 ,#b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-content{
    background: linear-gradient(270deg, #df8908 ,#b415ff 100%);
}

.herotext{
    background: linear-gradient(270deg, #df8908 80% ,#b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format:hover{
    background-image: linear-gradient(45deg, #3f0028 ,#582300);
   transform: scale(1.05); 
   transition: 0.4s;
}